# STRINGS

In [50]:
s = "hello world"
print(s[0])      # 'h' (first char)
print(s[-1])     # 'd' (last char)
print(s[0:5])    # 'hello' (slice)
print(s[::-1])   # 'dlrow olleh' (reverse)

h
d
hello
dlrow olleh

In [51]:
print(s.upper())   # 'HELLO WORLD'
print(s.lower())   # 'hello world'
print(s.title())   # 'Hello World'

HELLO WORLD
hello world
Hello World

In [52]:
print(s.find("world"))   # 6 (index of first match)
print("world" in s)      # True
print("python" in s)     # False

6
True
False

In [53]:
print(s.replace("world", "python"))   # 'hello python'

hello python

In [54]:
x = "   hello   "
print(x.strip())   # 'hello'
print(x.lstrip())  # 'hello   '
print(x.rstrip())  # '   hello'

hello
hello
   hello

In [55]:
words = s.split()          # ['hello', 'world']
print("-".join(words))     # 'hello-world'

hello-world

In [56]:
print(s.count("l"))   # 3

3

In [59]:
print("123".isdigit())   # True
print("abc".isalpha())   # True
print("abc123".isalnum())# True
print("hello".islower()) # True

True
True
True
True

## DICTIONARY

In [5]:
# A sample practice dictionary
practice_dict = {
    "student": {
        "name": "Alice",
        "age": 22,
        "courses": ["Math", "Physics", "Computer Science"],
        "grades": {"Math": "A", "Physics": "B+", "Computer Science": "A-"}
    },
    "library": {
        "books": [
            {"title": "Python 101", "author": "John Doe", "available": True},
            {"title": "Deep Learning", "author": "Jane Smith", "available": False},
            {"title": "Data Science Handbook", "author": "Mike Ross", "available": True}
        ],
        "open_hours": {"Mon-Fri": "9am-6pm", "Sat": "10am-4pm", "Sun": "Closed"}
    },
    "university": {
        "name": "Tech University",
        "location": "Zurich",
        "departments": ["Engineering", "Mathematics", "Arts"]
    }
}

practice_dict["student"].get("courses")[0]

'Math'

In [11]:
for key in practice_dict:
    print(key)

student
library
university

In [12]:
for value in practice_dict.values():
    print(value)

{'name': 'Alice', 'age': 22, 'courses': ['Math', 'Physics', 'Computer Science'], 'grades': {'Math': 'A', 'Physics': 'B+', 'Computer Science': 'A-'}}
{'books': [{'title': 'Python 101', 'author': 'John Doe', 'available': True}, {'title': 'Deep Learning', 'author': 'Jane Smith', 'available': False}, {'title': 'Data Science Handbook', 'author': 'Mike Ross', 'available': True}], 'open_hours': {'Mon-Fri': '9am-6pm', 'Sat': '10am-4pm', 'Sun': 'Closed'}}
{'name': 'Tech University', 'location': 'Zurich', 'departments': ['Engineering', 'Mathematics', 'Arts']}

In [14]:
for key, value in practice_dict.items():
    print(key, ":", value)

student : {'name': 'Alice', 'age': 22, 'courses': ['Math', 'Physics', 'Computer Science'], 'grades': {'Math': 'A', 'Physics': 'B+', 'Computer Science': 'A-'}}
library : {'books': [{'title': 'Python 101', 'author': 'John Doe', 'available': True}, {'title': 'Deep Learning', 'author': 'Jane Smith', 'available': False}, {'title': 'Data Science Handbook', 'author': 'Mike Ross', 'available': True}], 'open_hours': {'Mon-Fri': '9am-6pm', 'Sat': '10am-4pm', 'Sun': 'Closed'}}
university : {'name': 'Tech University', 'location': 'Zurich', 'departments': ['Engineering', 'Mathematics', 'Arts']}

## PANDAS

In [26]:
import pandas as pd
import numpy as np

# First DataFrame with 25 students
students = pd.DataFrame({
    "StudentID": list(range(1, 26)),
    "Name": [
        "Alice", "Bob", "Charlie", "David", "Eve",
        "Frank", "Grace", "Helen", "Ian", "Jack",
        "Karen", "Leo", "Mona", "Nina", "Oscar",
        "Paul", "Quincy", "Rachel", "Steve", "Tina",
        "Uma", "Victor", "Wendy", "Xander", "Yara"
    ],
    "Department": [
        "Math", "Physics", np.nan, "Computer Science", "Math",
        "Biology", "Math", "Physics", "Computer Science", "Biology",
        "Math", "Physics", "Biology", np.nan, "Computer Science",
        "Math", "Physics", "Biology", "Computer Science", "Math",
        "Physics", "Biology", "Computer Science", "Math", np.nan
    ],
    "GPA": [
        3.8, 3.4, np.nan, 3.9, 3.2,
        2.9, 3.7, 3.5, np.nan, 3.0,
        3.6, 2.8, 3.1, 3.9, 3.3,
        3.0, 3.4, 3.6, np.nan, 2.7,
        3.5, 3.2, 3.8, 3.9, np.nan
    ]
})

print(students)

print(students, "\n")

# Second DataFrame
enrollments = pd.DataFrame({
    "StudentID": [1, 2, 3, 6],
    "Course": ["Algebra", "Quantum Physics", "AI", "Philosophy"],
    "Credits": [5, 6, 4, 3]
})
print(enrollments)

    StudentID     Name        Department  GPA
0           1    Alice              Math  3.8
1           2      Bob           Physics  3.4
2           3  Charlie               NaN  NaN
3           4    David  Computer Science  3.9
4           5      Eve              Math  3.2
5           6    Frank           Biology  2.9
6           7    Grace              Math  3.7
7           8    Helen           Physics  3.5
8           9      Ian  Computer Science  NaN
9          10     Jack           Biology  3.0
10         11    Karen              Math  3.6
11         12      Leo           Physics  2.8
12         13     Mona           Biology  3.1
13         14     Nina               NaN  3.9
14         15    Oscar  Computer Science  3.3
15         16     Paul              Math  3.0
16         17   Quincy           Physics  3.4
17         18   Rachel           Biology  3.6
18         19    Steve  Computer Science  NaN
19         20     Tina              Math  2.7
20         21      Uma           Physics  3.5
21         22   Victor           Biology  3.2
22         23    Wendy  Computer Science  3.8
23         24   Xander              Math  3.9
24         25     Yara               NaN  NaN
    StudentID     Name        Department  GPA
0           1    Alice              Math  3.8
1           2      Bob           Physics  3.4
2           3  Charlie               NaN  NaN
3           4    David  Computer Science  3.9
4           5      Eve              Math  3.2
5           6    Frank           Biology  2.9
6           7    Grace              Math  3.7
7           8    Helen           Physics  3.5
8           9      Ian  Computer Science  NaN
9          10     Jack           Biology  3.0
10         11    Karen              Math  3.6
11         12      Leo           Physics  2.8
12         13     Mona           Biology  3.1
13         14     Nina               NaN  3.9
14         15    Oscar  Computer Science  3.3
15         16     Paul              Math  3.0
16         17   Quincy           Physics  3.4
17         18   Rachel           Biology  3.6
18         19    Steve  Computer Science  NaN
19         20     Tina              Math  2.7
20         21      Uma           Physics  3.5
21         22   Victor           Biology  3.2
22         23    Wendy  Computer Science  3.8
23         24   Xander              Math  3.9
24         25     Yara               NaN  NaN

   StudentID           Course  Credits
0          1          Algebra        5
1          2  Quantum Physics        6
2          3               AI        4
3          6       Philosophy        3

In [27]:
print(students.iloc[0], "\n")     # first row
print(students.iloc[-1], "\n")    # last row
print(students.isna(), "\n")       # True/False matrix
print(students.isna().sum(), "\n") # Count per column

StudentID         1
Name          Alice
Department     Math
GPA             3.8
Name: 0, dtype: object

StudentID       25
Name          Yara
Department     NaN
GPA            NaN
Name: 24, dtype: object

    StudentID   Name  Department    GPA
0       False  False       False  False
1       False  False       False  False
2       False  False        True   True
3       False  False       False  False
4       False  False       False  False
5       False  False       False  False
6       False  False       False  False
7       False  False       False  False
8       False  False       False   True
9       False  False       False  False
10      False  False       False  False
11      False  False       False  False
12      False  False       False  False
13      False  False        True  False
14      False  False       False  False
15      False  False       False  False
16      False  False       False  False
17      False  False       False  False
18      False  False       False   True
19      False  False       False  False
20      False  False       False  False
21      False  False       False  False
22      False  False       False  False
23      False  False       False  False
24      False  False        True   True

StudentID     0
Name          0
Department    3
GPA           4
dtype: int64

In [28]:
students_clean = students.dropna()
print(students_clean)

    StudentID    Name        Department  GPA
0           1   Alice              Math  3.8
1           2     Bob           Physics  3.4
3           4   David  Computer Science  3.9
4           5     Eve              Math  3.2
5           6   Frank           Biology  2.9
6           7   Grace              Math  3.7
7           8   Helen           Physics  3.5
9          10    Jack           Biology  3.0
10         11   Karen              Math  3.6
11         12     Leo           Physics  2.8
12         13    Mona           Biology  3.1
14         15   Oscar  Computer Science  3.3
15         16    Paul              Math  3.0
16         17  Quincy           Physics  3.4
17         18  Rachel           Biology  3.6
19         20    Tina              Math  2.7
20         21     Uma           Physics  3.5
21         22  Victor           Biology  3.2
22         23   Wendy  Computer Science  3.8
23         24  Xander              Math  3.9

In [29]:
print(students.groupby("Department")["GPA"].mean())

Department
Biology             3.160000
Computer Science    3.666667
Math                3.414286
Physics             3.320000
Name: GPA, dtype: float64

In [31]:
# Inner join on StudentID
merged_inner = pd.merge(students, enrollments, on="StudentID", how="inner")
print("Inner Join:\n", merged_inner, "\n")

# Left join
merged_left = pd.merge(students, enrollments, on="StudentID", how="left")
print("Left Join:\n", merged_left, "\n")

# Outer join
merged_outer = pd.merge(students, enrollments, on="StudentID", how="outer")
print("Outer Join:\n", merged_outer, "\n")

Inner Join:
    StudentID     Name Department  GPA           Course  Credits
0          1    Alice       Math  3.8          Algebra        5
1          2      Bob    Physics  3.4  Quantum Physics        6
2          3  Charlie        NaN  NaN               AI        4
3          6    Frank    Biology  2.9       Philosophy        3

Left Join:
     StudentID     Name        Department  GPA           Course  Credits
0           1    Alice              Math  3.8          Algebra      5.0
1           2      Bob           Physics  3.4  Quantum Physics      6.0
2           3  Charlie               NaN  NaN               AI      4.0
3           4    David  Computer Science  3.9              NaN      NaN
4           5      Eve              Math  3.2              NaN      NaN
5           6    Frank           Biology  2.9       Philosophy      3.0
6           7    Grace              Math  3.7              NaN      NaN
7           8    Helen           Physics  3.5              NaN      NaN
8           9      Ian  Computer Science  NaN              NaN      NaN
9          10     Jack           Biology  3.0              NaN      NaN
10         11    Karen              Math  3.6              NaN      NaN
11         12      Leo           Physics  2.8              NaN      NaN
12         13     Mona           Biology  3.1              NaN      NaN
13         14     Nina               NaN  3.9              NaN      NaN
14         15    Oscar  Computer Science  3.3              NaN      NaN
15         16     Paul              Math  3.0              NaN      NaN
16         17   Quincy           Physics  3.4              NaN      NaN
17         18   Rachel           Biology  3.6              NaN      NaN
18         19    Steve  Computer Science  NaN              NaN      NaN
19         20     Tina              Math  2.7              NaN      NaN
20         21      Uma           Physics  3.5              NaN      NaN
21         22   Victor           Biology  3.2              NaN      NaN
22         23    Wendy  Computer Science  3.8              NaN      NaN
23         24   Xander              Math  3.9              NaN      NaN
24         25     Yara               NaN  NaN              NaN      NaN

Outer Join:
     StudentID     Name        Department  GPA           Course  Credits
0           1    Alice              Math  3.8          Algebra      5.0
1           2      Bob           Physics  3.4  Quantum Physics      6.0
2           3  Charlie               NaN  NaN               AI      4.0
3           4    David  Computer Science  3.9              NaN      NaN
4           5      Eve              Math  3.2              NaN      NaN
5           6    Frank           Biology  2.9       Philosophy      3.0
6           7    Grace              Math  3.7              NaN      NaN
7           8    Helen           Physics  3.5              NaN      NaN
8           9      Ian  Computer Science  NaN              NaN      NaN
9          10     Jack           Biology  3.0              NaN      NaN
10         11    Karen              Math  3.6              NaN      NaN
11         12      Leo           Physics  2.8              NaN      NaN
12         13     Mona           Biology  3.1              NaN      NaN
13         14     Nina               NaN  3.9              NaN      NaN
14         15    Oscar  Computer Science  3.3              NaN      NaN
15         16     Paul              Math  3.0              NaN      NaN
16         17   Quincy           Physics  3.4              NaN      NaN
17         18   Rachel           Biology  3.6              NaN      NaN
18         19    Steve  Computer Science  NaN              NaN      NaN
19         20     Tina              Math  2.7              NaN      NaN
20         21      Uma           Physics  3.5              NaN      NaN
21         22   Victor           Biology  3.2              NaN      NaN
22         23    Wendy  Computer Science  3.8              NaN      NaN
23         24   Xander              Math  3.9              NaN      NaN
24         25     Yara               NaN  NaN              NaN      NaN

## LISTS

In [32]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [33]:
fruits.append("fig")           # add at the end
fruits.insert(2, "grape")      # add at index 2
print(fruits)

['apple', 'banana', 'grape', 'cherry', 'date', 'elderberry', 'fig']

In [ ]:
fruits.remove("banana")   # remove by value
print(fruits)

popped = fruits.pop()     # removes last element
print(popped)             # 'fig'

['apple', 'grape', 'cherry', 'date', 'elderberry', 'fig']
fig

In [35]:
fruits[0] = "apricot"
print(fruits)

['apricot', 'grape', 'cherry', 'date', 'elderberry']

In [39]:
print(len(fruits))   # number of elements

5

In [40]:
fruits.sort()          # sort in place
print(fruits)

fruits.sort(reverse=True)   # descending
print(fruits)

['apricot', 'cherry', 'date', 'elderberry', 'grape']
['grape', 'elderberry', 'date', 'cherry', 'apricot']

In [41]:
# Create a new list with fruit names in uppercase
upper_fruits = [fruit.upper() for fruit in fruits]
print(upper_fruits)

['GRAPE', 'ELDERBERRY', 'DATE', 'CHERRY', 'APRICOT']

# SETS

In [43]:
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'apple', 'banana', 'cherry'}

In [45]:
fruits.add("date")       # add new element
fruits.remove("banana")  # remove (error if not found)
fruits.discard("kiwi")   # remove safely (no error if not found)
print(fruits)

{'apple', 'date', 'cherry'}

In [46]:
A = {"apple", "banana", "cherry"}
B = {"cherry", "date", "fig"}

print(A | B)   # union → {'apple', 'banana', 'cherry', 'date', 'fig'}
print(A & B)   # intersection → {'cherry'}

{'apple', 'fig', 'date', 'cherry', 'banana'}
{'cherry'}

In [47]:
print(A - B)    # in A but not B → {'apple', 'banana'}
print(B - A)    # in B but not A → {'date', 'fig'}
print(A ^ B)    # symmetric difference → {'apple', 'banana', 'date', 'fig'}

{'apple', 'banana'}
{'fig', 'date'}
{'banana', 'fig', 'apple', 'date'}

In [48]:
nums = [1, 2, 2, 3, 4, 4, 5]
unique_nums = set(nums)
print(unique_nums)   # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

# LAMBDA

Simple math

In [1]:
add = lambda x, y: x + y
print(add(3, 5))   # 8

8

Sorting with lambda

In [2]:
words = ["banana", "apple", "fig", "cherry"]

# Sort by length
print(sorted(words, key=lambda w: len(w)))  
# ['fig', 'apple', 'banana', 'cherry']

['fig', 'apple', 'banana', 'cherry']

Map (like Function<T, R>)

In [3]:
nums = [1, 2, 3, 4]
squares = list(map(lambda x: x * x, nums))
print(squares)  # [1, 4, 9, 16]

[1, 4, 9, 16]

Filter (like Predicate<T>)

In [4]:
nums = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)  # [2, 4, 6]

[2, 4, 6]

Reduce (like aggregation)

In [5]:
from functools import reduce

nums = [1, 2, 3, 4]
total = reduce(lambda a, b: a + b, nums)
print(total)  # 10

10

With sorted on tuple

In [6]:
pairs = [(1, "a"), (3, "c"), (2, "b")]
print(sorted(pairs, key=lambda x: x[0]))  # sort by first
print(sorted(pairs, key=lambda x: x[1]))  # sort by second

[(1, 'a'), (2, 'b'), (3, 'c')]
[(1, 'a'), (2, 'b'), (3, 'c')]